// =================================
//	Variables
// =================================
//Font Stacks
$f-font: "Roboto", sans-serif;


// Breakpoints
$mq-xxLarge: 1400px;
$mq-xLarge: 1200px;
$mq-large: 992px;
$mq-medium: 768px;
$mq-small: 576px;

//Colors
$c-lightBlue: rgb(203, 234, 255);
$c-blue: rgb(0, 109, 182);
$c-darkBlue: rgb(0, 53, 88);
$c-white: #fff;
$c-black: #000;
$c-bg: #e3ebf3;


// =================================
//	Mixins
// =================================
@mixin center($width, $max-width) {
	width: $width;
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

@mixin box-shadow {
	-webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}


// =================================
//	Type
// =================================

* {
    box-sizing: border-box;
  }
  
  body {
      text-align: center;
      color: $c-lightBlue;
      margin: 0;
      font-family: $f-font;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem 0;
    line-height: 1.2;
    font-weight: normal;
  }
  
  
  p,
  ul,
  ol,
  blockquote,
  address {
    margin: 0 0 1rem 0;
    font-style: normal;
  }
  
  ul,
  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  
    li {
    }
  }
  
  a {
      text-decoration: none;
      color: $c-white;
      transition: all .5s;
  
    &:hover,
    &:focus {
      color: $c-white;
    }
  }
  
  // =================================
//	Layout
// =================================

  body {
    // background-image: url("../img/earth.jpg");
    background-color: $c-bg;
    height: 100vh;
    nav {
        background-color: darken($c-darkBlue, 10%);
        padding: .5em;
        .header {
            margin: 0;
        }
    }
    main {
        min-height: auto;
        .wrapper {
            // @include center(100%, $mq-xxLarge);
            height: 100%;
            .city-search {
                @include box-shadow;
                background-color: $c-darkBlue;
                form {
                    padding: 2em;
                    label {
                        display: block;
                    }
                }
                @media (min-width: $mq-medium) {
                    width: 30%;
                    max-width: 400px;
                }
                button {
                    color: $c-lightBlue;
                    border-color: $c-lightBlue; 
                }
                #cityHistory {
                    a {
                        display: block;
                        padding: 1em;
                        border-top: thin solid $c-lightBlue;
                        @media (min-width: $mq-medium) {
                            &:last-child {
                                border-bottom: thin solid $c-lightBlue;
                            }
                        }
                    }
                }
            }
            .city-forecast {
                margin: 2% 0;
                @media (min-width: $mq-medium) {
                    width: 100%;
                    margin: 0 2%;
                }
                #currentWeather {
                    color: $c-darkBlue;
                    padding: 2em 0;
                }
                #dailyForecast {
                    background-color: $c-darkBlue;
                    @include box-shadow;
                    padding: 2em;
                    .weather-card {
                        width: 100%;
                        margin: .25em;
                        padding: .5em;
                        background-color: darken($c-darkBlue, 10%);
                    }
                }
            }
        }
    }
    footer {
        background-color: darken($c-darkBlue, 10%);
        padding: .5em;
        p {
            margin: 0;
        } 
    }
}

